@{
    ViewData["Title"] = "Investment";
}
<div class="container">

    <div class="row">
        <div class="twelve columns">
            <h1 style="text-align:center;">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row">

        <div class="ten columns">
            <div class="container">

                <h2>Portfolios (ajax-driven)</h2>

                <table class="u-full-width">
                    <thead>
                        <tr>
                            <td colspan="3">

                                <div class="row pagination">
                                    <div class="one-half column">
                                        Record @Model.RecordStart - @Model.RecordEnd of @Model.TotalRecordCount
                                    </div>
                                    <div class="one-half column" style="text-align:right;">
                                        Page @Model.CurrentPage of @Model.TotalPageCount
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Positions
                            </th>
                            <th class="text-right">
                                Total investment
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model.Data)
                        {
                        <tr>
                        <td>
                        <a asp-area="Investment" asp-controller="Portfolio" asp-action="Index" asp-route-page="@(item.Id)">@item.Name</a>
                        </td>
                        <td>@item.Positions.Count</td>
                        <td class="text-right">@item.Positions.Sum(r=> r.Price * r.Quantity).ToString("C")</td>
                        </tr>
                        }*@
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="row pagination">
                                    <div class="one-half column">
@*                                        @if (Model.CurrentPage != 1)
                                        {
                                            <a class="button nav" asp-area="Investment" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">Previous @Model.PageSize</a>
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }*@
                                    </div>
                                    <div class="one-half column" style="text-align:right;">
@*                                        @if (Model.CurrentPage != Model.TotalPageCount)
                                        {
                                            <a class="button nav" asp-area="Investment" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next @(Math.Min(Model.TotalRecordCount - Model.RecordEnd, Model.PageSize))</a>
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }*@
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
        <div class="two columns">
            @await Html.PartialAsync("_SideNavBar")
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/investment.js"></script>
}