@using MyThinkBook.Web.Domain;
@model IPageMetaData
<div class="row pagination">
    <div class="col s6">
        Record @Model.RecordStart - @Model.RecordEnd of @Model.TotalRecordCount
    </div>
    <div class="col s6" style="text-align:right;">
        Page @Model.CurrentPage of @Model.TotalPageCount
    </div>
</div>