@using MyThinkBook.Web.Domain;
@model IPageMetaData

<div class="row pagination">
    <div class="col s6">
        @if (Model.CurrentPage != 1)
        {
            <a class="waves-effect waves-light btn" asp-area="@ViewContext.RouteData.Values["area"]" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="@ViewContext.RouteData.Values["action"]" asp-route-page="@(Model.CurrentPage - 1)"><i class="material-icons right">navigate_next</i>Previous @Model.PageSize</a>
        }
        else
        {
            <text>&nbsp;</text>
        }
    </div>
    <div class="col s6" style="text-align:right;">
        @if (Model.CurrentPage != Model.TotalPageCount)
        {
            <a class="waves-effect waves-light btn" asp-area="@ViewContext.RouteData.Values["area"]" asp-controller="@ViewContext.RouteData.Values["controller"]" asp-action="@ViewContext.RouteData.Values["action"]" asp-route-page="@(Model.CurrentPage + 1)"><i class="material-icons right">navigate_next</i>Next @(Math.Min(Model.TotalRecordCount - Model.RecordEnd, Model.PageSize))</a>
        }
        else
        {
            <text>&nbsp;</text>
        }
    </div>
</div>

